body {
    background: #1b283d;
    font-family: 'Courier New', Courier, monospace;
}

.light_text{
    color: #f4f4f4;
}

.dark_text{
    color: #1b283d;
}

#line {
    width: 64%;
    height: 100%;
    position: relative;
    left: 40%;
    content:"";
    border-top: 4px solid black;
    transform: rotate(64deg);
    transform-origin: 0% 0%;
}

#line:hover {
    border-top: 4px solid #f4f4f4;
}

#line a {
    display: block;
    height: 100%;
    width: 100%;
}

.profile h1 {
    padding-top: 18%;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 21px;
    letter-spacing: 9px;
    color:#f4f4f4;
}

.profile p {
    display: block;
    position: relative;
    z-index: 1;
    width: 480px;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 20px;
    margin: auto;
}

.profile img {
    display: block;
    position: relative;
    margin: auto;
    height: 240px;
    width: 240px;
    z-index: 1;
}

@media (max-width:480px){
    .profile p {
        width: 80%;
    }
}

.nav{
    list-style-type: none;
    text-align: center;
    float: center;
    padding-top: 64px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    width: 100px;
}

.nav a {
    color: #a1a2a3;
    text-decoration: none;
    padding: 16px;
}

.nav a:hover {
    color: white;
}

/*
.dropdown_menu {
    display: none;
    position: absolute;
    z-index: 1;
    list-style-type: none;
    text-align: center;
}

.nav:hover .dropdown_menu {
    display: block;
}

.dropdown_menu a {
    text-decoration: none;
}
*/

.contacts {
    padding-block-start: 18%;
    list-style-type: none;
    color: white;
    float: center;
    text-align: center;
}

.contacts a {
    padding-left: 20px;
    width: 480px;
    color: grey;
    font-size: 16px;
    text-decoration: none;
}

.contacts a:hover {
    color: white;
}

#project_heading {
    position: sticky;
    top: 20px;
    color: #f4f4f4;
    font-size: 28px;
    display: block;
    text-align: center;
}

.project_info {
    padding-top: 20px;
}
.project_info a {
    text-align: center;
    padding-top: 16px;
    display: block;
    color:#f4f4f4;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.project_info p {
    font-size: 16px;
    color: black;
}

.project_info a:hover {
    background: #dadada;
    color: #1b283d;
}

.proj_top {
    padding-block-start: 11%;
}

#eyes {
    position: center;
}

.film_info {
    color: #f4f4f4;
    padding: 20px;
}

.iframe {
    float: center;
}

.footer {
    position: fixed;
    right: 36px;
    bottom: 36px;
    list-style-type: none;
}

.footer a{
    color: #a1a2a3;
    font-size: 16px;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.lol {
    background: #870202;
    color: #f4f4f4;
}
